<app-header [leftUrl]="['/juegos']"
			leftTitle="Juegos"
			leftIcon="arrow_back"
			title="Memory" />

@if (selectedLevel === null) {
<mat-card class="card-center">
	@for (level of levels; track level.id) {
	<button mat-flat-button
			class="big-button"
			(click)="selectLevel(level)">
		<img src="/memory/{{level.icon}}.png"
			 [alt]="level.name">
		<br>
		{{level.name}}
	</button>
	}
</mat-card>
}

@if (selectedLevel !== null) {
<mat-card class="card-center card-list {{'card-list-'+selectedLevel.num}}">
	@for (card of cards; track card.id) {
	<div class="card"
		 (click)="show(card)">
		<div class="card-hidden"
			 [class]="{'hidden': card.reveal}">?</div>
		<div class="card-reveal"
			 [class]="{'hidden': !card.reveal}">
			<img [src]="'/memory/img/' + card.id + '.png'"
				 [alt]="card.name">
		</div>
	</div>
	}
</mat-card>
}