<app-header [leftUrl]="['/juegos/listado']"
			leftTitle="Juegos"
			leftIcon="arrow_back"
			title="Memory" />

@if (selectedLevel() === null) {
<mat-card class="card-center">
	<div class="memory-select">
		@for (memoryOption of memoryOptions; track memoryOption.id) {
		<div class="memory-select-col">
			<h1>{{ memoryOption.option }}</h1>

			@for (level of levels; track level.id) {
			<button mat-flat-button
					class="big-button"
					[disabled]="memoryOption.people.length < level.num"
					(click)="selectLevel(memoryOption, level)">
				<img [src]="`/memory/${level.icon}.png`"
					 [alt]="level.name">
				<br>
				{{ level.name }}
			</button>
			}
		</div>
		}
	</div>
</mat-card>
}

@if (selectedLevel() !== null) {
<mat-card [class]="boardClass()">
	@for (card of cards(); track card.cardId) {
	<div class="card"
		 (click)="show(card)">
		<div class="card-hidden"
			 [class.hidden]="card.reveal === true">
			?
		</div>

		<div class="card-reveal"
			 [class.hidden]="card.reveal === false">
			<img [src]="card.img"
				 [alt]="card.name">
		</div>
	</div>
	}
</mat-card>
}