<app-header [leftUrl]="['/cuentos']" leftTitle="Cuentos" leftIcon="arrow_back" title="Zena"></app-header>

<mat-card class="tale">
	<p>¡En la calurosa sabana africana vivía Zena, una cebra muy presumida que no hacía otra cosa que contarse las rayas al sol: Un, dos, tres, cuatro, cinco… contaba Zena sus rayas una y otra vez: seis, siete, ocho, nueve, diez.
	Pero una mañana, al despertar, algo insólito sucedió: ¡alguien a Zena todas sus rayas robó! La cebra miró a su alrededor pero a nadie encontró. ¿Cómo ha podido ocurrir? Buscaré al ladrón.</p>
	<p>-¿Has sido tú el que me has quitado mis rayas? –preguntó Zena a Bom el hipopótamo.<br>
	-¿YOOOOOOOOOOOOOOOO? ¿PARA QUÉEEEEEEEEE? -le contestó abriendo muchísimo la boca.<br>
	Zena pudo ver la campanilla del hipopótamo dentro de esa enorme bocaza, pero ninguna de sus rayas. Así que prosiguió su búsqueda.<br>
	<br>
	-¿Me has robado tú mis preciosas rayas? – le dijo Zena a un animal con largo cuello y cabeza de árbol.
	–Qué animal más raro -pensó.</p>
	<p>Pero el curioso animal no respondió. Y no era de extrañar, porque sus orejas estaban tan arriba que no podían oír lo que le preguntaban desde el suelo. Zena no se rindió y subió por el tronco del árbol hasta alcanzar los oídos del cuellilargo animal:<br>
	-¡Anda si es Rafa la Jirafa! Y su cabeza no es de hojas sino que está oculta entre las ramas!<br>
	-¿Has sido tú quien ha cogido mis rayas? –repitió Zena cerca de su oreja.<br>
	-¿Yo? -contestó Rafa -¿No ves que yo llevo manchas grandes, marrones y cuadradas?<br>
	-Es verdad –dijo Zena y siguió buscando.</p>
	<p>¿Tienes tú mis rayas? – le dijo Zena a un animal muy feliz que tenía el cuerpo repleto de manchas.<br>
	-¿Yo? –dijo Gorongora la hiena y se empezó a reír sin parar- Jajajajajajajajajajaja.</p>
	<p>A Zena también le dieron también ganas de reír, pero después de un buen rato de carcajadas continuar.</p>
	<p>Dos árboles más adelante observó cómo Chito el guepardo descansaba tumbado en las ramas tras su última carrera.<br>
	-¿Me has quitado tú las rayas mientras dormía? – le preguntó Zena.<br>
	-¿Yo? ¿Acaso no ves que mis manchas son pequeñas y redondas?- respondió el guepardo.<br>
	<br>
	-Pues tiene razón –pensó Zena y siguió buscando.</p>
	<p>Continuó su camino en busca de sus rayas extraviadas cuando le pareció divisar una de ellas tirada en el suelo. Pero al llegar a ella la raya negra se alejó arrastrándose mientras dibujaba divertidas eses en el suelo. No era una de sus rayas, ¡era Mamba la serpiente! Entonces Zena se alegró de que no fuera ella la que le había robado sus rayas.</p>
	<p>Zena estaba cansada de buscar sin encontrar sus rayas cuando se topó con Bongo el elefante.<br>
	-¿Qué te ocurre? –le preguntó a la cebra -Te veo muy blanca esta mañana.<br>
	-Me han robado todas mis rayas negras –respondió Zena sollozando.</p>
	<p>Entonces Bongo abrazó a Zena con su enorme trompa y la subió sobre su lomo.<br>
	-Desde aquí podrás divisar toda la sabana hasta el horizonte y encontrar al ladrón.<br>
	-Desde aquí sólo veo a ese tigre de Bengala que no había visto antes por aquí – dijo Zena.<br>
	-¿Un tigre de Bengala en África? –se extraño el elefante – ¡Qué raro! Veremos de qué se trata.<br>
	Los dos amigos se acercaron hasta el visitante.<br>
	-¡Pero si es Berta la leona! ¡Con mis rayas puestas!<br>
	-Perdona Zena -se disculpó Berta -No quería robarte las rayas. Pero es que esta tarde hay una fiesta de disfraces y no tenía qué ponerme.</p>
	<p>Zena la miró de arriba abajo y la verdad, ¡es que sus rayas le quedaban fenomenal!<br>
	-Está bien, te las dejo- aceptó la cebra –Pero con una condición: que me lleves contigo a la fiesta.</p>
	<p>Y así fue como Zena encontró por fin sus rayas perdidas. Y cebra y leona, o mejor dicho mula y tigresa se fueron juntas a la fiesta de disfraces, donde bailaron, rieron y se lo pasaron genial.</p>
</mat-card>
