<app-header [leftUrl]="['/']"
			leftTitle="Inicio"
			leftIcon="arrow_back"
			title="Juegos" />

<mat-card class="card-center">
	<button mat-raised-button
			class="big-button"
			routerLink="/juegos/memory">
		<img src="/assets/memory/memory.svg"
			 class="button-icon"
			 alt="Memory">
		<br>
		Memory
	</button>
	<button mat-raised-button
			class="big-button"
			routerLink="/juegos/simon">
		<img src="/assets/simon/simon.svg"
			 class="button-icon"
			 alt="Simon">
		<br>
		Simon
	</button>
	<button mat-raised-button
			class="big-button"
			routerLink="/juegos/koloreak">
		<img src="/assets/koloreak/koloreak.svg"
			 class="button-icon"
			 alt="Koloreak">
		<br>
		Koloreak
	</button>
</mat-card>