<app-header [leftUrl]="['/cuentos/listado']"
			leftTitle="Cuentos"
			leftIcon="arrow_back"
			title="Tomasa" />

<mat-card class="tale">
	<mat-card-content>
		<p>
			Una mañana, una osa que se llamaba Tomasa y vivía en un tren de color (rojo), se despertó, se estiró y se preparó un graaaaan desayuno.
			<br>
			Se hizo unas ricas tostadas en la tostadora con mermelada de (fresa/melocotón) y una rodaja de piña, luego se lavó las manos y los dientes y se vistió con una camiseta, unos pantalones y en los pies unos (zapatos) de color (verde) y ¡ya estaba lista para empezar el día!!
		</p>
		<p>
			Tomasa encendió el tren, abrió las puertas (pipipipipi) y allí estaban todos los pasajeros esperando para subir. Tomasa les dijo: ¡¡¡pasajeros al treeeeeeen!!! ¡Y empezaron a entrar en el tren!
		</p>
		<p>
			A Tomasa le gustaba saludarlos a todos, así que empezó a recorrer el vagón y se encontró con el Sr. Mono.
			<br>
			- Buenos días Sr. Mono.
			<br>
			- Buenos días Tomasa.
			<br>
			- ¿Qué te trae hoy por aquí?
			<br>
			- Voy a comprar plátanos.
			<br>
			- Ooooohh, ¡que bien! ¿¿Y para quién son??
			<br>
			- Para aita, para ama, para...
			<br>
			- ¡¡Pues tendrás que comprar muchos plátanos!!
			<br>
			- Siiii, necesito muchos.
			<br>
			- ¡Que tengas un buen dia!
			<br>
			- Igualmente.
			<br><br>
			Y Tomasa siguió caminando por el vagón hasta que vio a una señora que llevaba una coleta y gafas, tenía un bolso colgado y en la mano llevaba... ¡¡una tele!!
			<br>
			- Buenos días señora.
			<br>
			- Buenos días Tomasa.
			<br>
			- ¿¿Porqué llevas una tele??
			<br>
			- Es que se me ha estropeado y estoy buscando alguien que me la arregle.
			<br>
			- ¡Yo te puedo ayudar! Se de una parada donde te puedes bajar y encontrar a un señor que te arregle la tele.
			<br>
			- ¡Genial!
			<br><br>
			Tomasa siguió caminando por el vagón cuando de repente vio asomar unos pelos por un asiento, eran unos pelos de color... ¡verde!
			<br>
			¿¿¿Quién era??? (¡¡¡El troll del pelo verde!!!)
			<br>
			- ¡Buenos días troll!
			<br>
			- ¡Buenos días Tomasa!
			<br>
			- ¿Dónde vas hoy con esos pelos?
			<br>
			- Es que voy a la peluquería, ¡¡me van a lavar, a cortar, a secar y a peinar!!
			<br>
			- Que guapo vas a quedar.
			- Siii, luego vengo a verte.
			<br>
			- ¡Genial! ¡Hasta luego!
			<br><br>
			Y siguió caminando por el vagón hasta que al final vio a un niño sentado con un señor y se acerco y le pregunto al niño:
			<br>
			- ¿Cómo te llamas?
			<br>
			- (Eneko)
			<br>
			- ¿Y cuántos años tienes?
			<br>
			- (2 y medio)
			<br>
			- ¿Con quién has venido?
			<br>
			- (Con el abuelo Patxi)
			<br>
			- ¡¡Que bien!! ¿Y a dónde vais?
			<br>
			- (A buscar a la abuela)
			<br>
			- Que bien lo vais a pasar. ¿Habéis traído merienda?
			<br>
			- (Tortitas)
			<br>
			- Mmm... ¡¡que ricas!!
			<br><br>
			Y la osa se despidió de Eneko y el abuelo Patxi y fue a la cabina a encender el tren.
			<br>
			Encendió las luces, cerró las puertas (pipipipipi) y arranco el tren haciendo sonar la campana (tlin tlin).
			<br>
			Y así, el Sr. Mono pudo comprar sus plátanos,
			<br>
			La señora pudo arreglar su televisión,
			<br>
			El troll fue a la peluquería,
			<br>
			Y Eneko y el abuelo Patxi fueron a buscar a la abuela.
			<br><br>
			Y colorín colorado, ¡este cuento se ha terminado!
		</p>
	</mat-card-content>
</mat-card>