<app-header [leftUrl]="['/juegos/metro']"
            leftTitle="Metro"
            leftIcon="arrow_back"
            [title]="title()" />

<mat-card class="card-center">
    @for (linea of lineas(); track linea) {
    <button mat-flat-button
            class="metro-button"
            [style]="{'background-color': '#'+linea.color, 'color': '#'+linea.colorTexto}"
            [routerLink]="`/juegos/metro/${ciudad()}/linea/${linea.num}`">
        Línea {{ linea.num }}
        <br>
        @if (linea.fin !== null) {
        {{ linea.inicio }} <br> {{ linea.fin }}
        }
        @else {
        {{ linea.inicio }}
        }
    </button>
    }
</mat-card>