<app-header [leftUrl]="['/']"
			leftTitle="Inicio"
			leftIcon="arrow_back"
			title="Cuentos" />

<mat-card class="card-center">
	<button mat-raised-button
			class="big-button"
			routerLink="/cuentos/zena">
		<img src="/assets/zena/zebra.svg"
			 class="button-icon"
			 alt="Zena">
		<br>
		Zena
	</button>

	<button mat-raised-button
			class="big-button"
			routerLink="/cuentos/tomasa">
		<img src="/assets/tomasa/tomasa.svg"
			 class="button-icon"
			 alt="Tomasa">
		<br>
		Tomasa
	</button>
</mat-card>