.koloreak {
    margin: auto;
    position: fixed;
    left: 10%;
    top: calc(50% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .row {
        background-color: #fff;
        padding: 24px;
        border-radius: 6px;

        label {
            display: flex;

            span {
                flex: 1;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .koloreak {
        left: 25%;
    }
}