<app-header [aukerak]="true"
			(aukeraAldatu)="zerrendaEguneratu($event)" />

<mat-card class="card-center">
	@for (p of zerrenda; track p) {
	<div class="pertsona">
		<div class="borobila"
			 [ngStyle]="{'background-color': p.kolorea}">{{p.letra}}</div>
		<div class="izena"
			 [ngStyle]="{'color': p.kolorea}">{{p.izena}}</div>
		<div class="abizena"
			 [ngStyle]="{'color': p.kolorea}">{{p.abizena}}</div>
	</div>
	}
	<!--button mat-raised-button
			class="big-button"
			routerLink="/cuentos/listado">
		<mat-icon>auto_stories</mat-icon>
		<br>
		Cuentos
	</button>
	<button mat-raised-button
			class="big-button"
			routerLink="/juegos/listado">
		<mat-icon>casino</mat-icon>
		<br>
		Juegos
	</button>
	<button mat-raised-button
			class="big-button"
			routerLink="/juegos/metro">
		<mat-icon>subway</mat-icon>
		<br>
		Metro
	</button-->
</mat-card>