<div class="txartela">
     <img [src]="'/txartelak/' + txartela().mota?.argazkia + '.webp'"
          class="txartel-argazkia"
          alt="Argazkia">
     <img [src]="'/txartelak/' + txartela().umea?.argazkia + '.webp'"
          alt="Txartela"
          class="ume-argazkia"
          [class]="{'ume-argazkia-barik': txartela().mota?.id === 1, 'ume-argazkia-bat': txartela().mota?.id === 2, 'ume-argazkia-mugi': txartela().mota?.id === 3}">
     <span class="ume-izena"
           [class]="{'ume-izena-barik': txartela().mota?.id === 1, 'ume-izena-bat': txartela().mota?.id === 2, 'ume-izena-mugi': txartela().mota?.id === 3}">{{txartela().umea?.izena}}</span>
     @if (ezabatu()) {
     <button class="ezabatu hide-print"
             mat-icon-button
             (click)="ezabatuTxartela()">
          <mat-icon>delete</mat-icon>
     </button>
     }
</div>