<mat-toolbar color="primary"
			 class="toolbar">
	<mat-toolbar-row class="toolbar-row">
		@if (leftTitle()) {
		<button mat-button
				[routerLink]="leftUrl()"
				class="left-button">
			@if (leftIcon()) {
			<mat-icon>{{leftIcon()}}</mat-icon>
			}
			{{leftTitle()}}
		</button>
		}
		<span>{{title()}}</span>
		@if (rightTitle()) {
		<button mat-button
				[routerLink]="rightUrl()"
				class="right-button">
			@if (rightIcon()) {
			<mat-icon>{{rightIcon()}}</mat-icon>
			}
			{{rightTitle()}}
		</button>
		}
		@if (aukerak()) {
		<mat-select [(ngModel)]="aukeratuta"
					(ngModelChange)="aldatuFamilia()">
			@for (a of aukeraZerrenda; track a.id) {
			<mat-option [value]="a.id">{{a.izena}}</mat-option>
			}
		</mat-select>
		}
	</mat-toolbar-row>
</mat-toolbar>