<app-header [leftUrl]="[`/juegos/metro/${ciudad()}/linea/${linea()}`]"
            [leftTitle]="`Linea ${linea()}`"
            leftIcon="arrow_back"
            [title]="title" />

@if (correspondenciasInicio.length) {
<mat-card class="card-paradas">
    @for (correspondencia of correspondenciasInicio; track correspondencia.num) {
    <div class="correspondencia">
        <a class="linea"
           [style]="{'background-color': '#' + correspondencia.color, 'color': '#' + correspondencia.colorTexto}"
           [routerLink]="`/juegos/metro/${ciudad()}/linea/${correspondencia.num}`">
            {{correspondencia.num}}
            {{correspondencia.sentido}}
        </a>
        <div class="minutos">
            {{correspondencia.minutos}} min
        </div>
    </div>
    }
</mat-card>
}

@if (correspondenciasFin.length) {
<mat-card class="card-paradas">
    @for (correspondencia of correspondenciasFin; track correspondencia.num) {
    <div class="correspondencia">
        <a class="linea"
           [style]="{'background-color': '#' + correspondencia.color, 'color': '#' + correspondencia.colorTexto}"
           [routerLink]="`/juegos/metro/${ciudad()}/linea/${correspondencia.num}`">
            {{correspondencia.num}}
            {{correspondencia.sentido}}
        </a>
        <div class="minutos">
            {{correspondencia.minutos}} min
        </div>
    </div>
    }
</mat-card>
}