<app-header [leftUrl]="['/']"
            leftTitle="Inicio"
            leftIcon="arrow_back" />

<mat-card class="card-center">
    <mat-card-content>
        <mat-form-field>
            <mat-label>Aukeratu</mat-label>
            <mat-select [(ngModel)]="aukeratuta"
                        (ngModelChange)="zerrendaEguneratu()">
                @for (a of aukeraZerrenda; track a.id) {
                <mat-option [value]="a.id">{{a.izena}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        @for (p of zerrenda; track p) {
        <div class="pertsona">
            <div class="borobila"
                 [style]="{'background-color': p.kolorea, 'color': p.letrak}">{{p.letra}}</div>
            <div class="izena"
                 [style]="{'color': p.kolorea}">{{p.izena}}</div>
            <div class="abizena"
                 [style]="{'color': p.kolorea}">{{p.abizena}}</div>
        </div>
        }
    </mat-card-content>
</mat-card>